<!--
  ***************************************************************************
  *
  * (C) Copyright IBM Corp. 2018
  *
  *  This program and the accompanying materials are made available
  *  under the terms of the Apache License v2.0 which accompanies
  *  this distribution.
  *
  *      The Apache License v2.0 is available at
  *      http://www.opensource.org/licenses/apache2.0.php
  *
  * Contributors:
  *   Multiple authors (IBM Corp.) - initial implementation and documentation
  ***************************************************************************
-->
<!-- FOOTER_BEGIN -->
<div class="footer">
  <footer role="contentinfo" aria-label="IBM">
    <div id="ibm-footer">
      <div class="ibm-columns">
          <div class="ibm-col-6-4">
            <h2 class="ibm-access">Footer links</h2>
            <ul class="ibm-padding-bottom-0">
              <li><a href="https://www.cloudnativejs.io/contact.html">Contact</a></li>
              <li><a href="https://www.cloudnativejs.io/privacy.html">Privacy</a></li>
              <li><a href="https://www.cloudnativejs.io/terms.html">Terms of use</a></li>
              <li><a href="https://www.cloudnativejs.io/accessibility.html">Accessibility</a></li>
            </ul>
              <div class="ibm-columns">
              <div class="ibm-col-4-3 ibm-padding-bottom-0 ibm-small">
                  Node.js is a trademark of Joyent, Inc. and is used with its permission. We are not endorsed by or affiliated with Joyent.
              </div>
            </div>
          </div>
          <div class="ibm-col-6-2 ibm-padding-top-0" align="right">
            <a href="https://loopback.io/" target="_blank" rel="noopener noreferrer"><img src="/public/images/powered-by-loopback.png"  align=right height="40" alt="LoopBack Logo"></a>
            <a href="https://www.ibm.com/cloud/" target="_blank" rel="noopener noreferrer"><img src="/public/images/powered-by-ibm.png" align=right height="40" alt="IBM Cloud Logo"></a>
          </div>
      </div>
  </div>
  </footer>
</div>
<!-- FOOTER_END -->
